<template>  
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
        </ul>
      </div>
      <a route-href="route: home" class="uk-navbar-item uk-logo">ReCommerce</a>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a route-href="route: cart" uk-icon="icon: cart"><span class="uk-badge">${cartCount}</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>